MACHINE         = localhost 
SITE            = LiveDVD 
REGSERVICE_HOST = localhost 
REGSERVICE_PORT = 50001
REGSERVICE_HOST_INIT = localhost
REGSERVICE_PORT_INIT = 50001
APPL_BASEPORT   = 51000
AGENT_BASEPORT  = 50002
